#wheel-result {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 500px;
}

.animating {
    margin: 20px;
    height: 100px;
    -webkit-animation: spin 3s ease;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(1080deg);}   
}


.logo {
  content:url(https://cdn.glitch.com/05141f73-c13e-4178-b0aa-6ade731e2832%2FBored%20At%20The%20BiCo.png?1490469836711);
  height: 10%;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.button {
  content:url(https://cdn.glitch.com/05141f73-c13e-4178-b0aa-6ade731e2832%2Fwheel%202.png?1490488308471);
  align-content: center;
  width: 78%;
  height: auto;
}

.result {
  font-size: 2em;
  text-align: center;
}

.paused {
  -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
  animation-play-state: paused;
}

div {
  text-align: center;
  align-content: center;
}

.button-container {
  position: absolute;
  justify-content: center;
  padding-left: 5vw;
}

.show {
  background-color: white;
}

.hidden {
  display: none;
}

footer {
  align-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow:hidden;
}

.footer-names {
  align-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow:hidden;
}
